:root {
    --color-dark-blue: #11131f;
    --color-light-green: #93abae;
    --color-linear-green: linear-gradient(to bottom, #bec7c2 0%, #a1b5ba 100%);
    --color-white: #f6f5ef;
    --color-blue-2: #1f212d;
 
} 
    
     *,
    *::before,
    *::after {
        box-sizing: border-box;
    } 
    
    /* Common styles */
    body {
        font-family: DM Sans, sans-serif;
        color: var(--color-blue-2);
        background: var(--color-dark-blue);
    }
    /* Reset */
    h1, h2, h3, h4, h5, h6, p {
    text-decoration: none;
    margin: 0;
    }
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    /*special classes*/
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    
    .link {
        text-decoration: none;
        color:currentColor;
    }
    
    .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    button {
        font-family: inherit;
        cursor: pointer;
    }
    
    /* Base styles for small devices */
    .container {
        min-width: 320px;
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
    
        /* outline: 2px solid red;
        outline-offset: -2px; */
     }
    
     /* Tablet screen */
     @media screen and (min-width: 768px) {
        .container {
            max-width: 768px;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 16px;
        }
     }
    
     /* Desktop screen */
     @media only screen and (min-width: 1280px) {
        .container {
            max-width: 1280px;
            
        }
     }


    /* Services-blok */
    .services-block {

    }
    .services-box {
    }
    .container {
    }
    .services-about {
    }
    .services-content {
        position: relative;

    }
    .im-services {
    border-radius: 40px;
    background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    .list-services {
    display: flex;
    flex-direction: column;
    gap: 24px;
    }
.fishing-img {
    box-sizing: border-box;
}
    
    .item-services {
        
        
    }
    .btn-services {
    font-size: 14px;
    color: var(--dark-blue);
	line-height: 1.1;
	letter-spacing: -0.045em;
	font-weight: 700;
	

	position: absolute;
	padding: 14px 28px;
	border-radius: 60px;
	border-style: none;
	z-index: 1;
	left: 24px;
	bottom: 24px;
}
/* tablet */
@media (max-width: 768px) {
	.list-services {
		align-items: center;
	}
}

@media (min-width: 768px) {
  .list-services {
		gap: 32px;
	}
    
/* .diving-img {
    content: url(/images/services/diving-tab1x.jpg);
   

		width: 704px;

    }
    .fishing-img {
        content: url(/images/services/fishing-tab1x.jpg);
		width: 400px; 
        
    }
   
    .sunbathing-img{
        content: url(/images/services/sunbathing-tab1x.jpg);
		width: 380px;
    }
         */

    
    .item-services:nth-child(2) {
		align-self: flex-end;
    }
    .item-services:last-child {
		padding-left: 32px;
		align-self: flex-start;
	}
    .btn-services {
    left: 32px;
    } 

} 

@media screen and (min-width: 768px) {
    .diving-img {
    content: url(/images/services/diving-tab1x.jpg);
    width: 704px;
 }
 .fishing-img {
     content: url(/images/services/fishing-tab1x.jpg);
     width: 400px;
 }
 .sunbathing-img { 
     content: url(/images/services/sunbathing-tab1x.jpg);
     width: 380px
 }

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .diving-img {
        content: url(/images/services/diving-tab2x.jpg);
           width: 704px;
    
        }
        .fishing-img {
            content: url(/images/services/fishing-tab2x.jpg);
            width: 400px;
        }
        .sunbathing-img { 
            content: url(/images/services/sunbathing-tab2x.jpg);
            width: 380px
        }
    
  }

  /* Desktop */
@media screen and (min-width: 1158px) {
    .diving-img {
    content: url(/images/services/diving-desc1x.jpg);
       width: 712px;

    }
    .fishing-img {
        content: url(/images/services/fishing-decs1x.jpg);
        width: 440px;
    }
    .sunbathing-img { 
        content: url(/images/services/sunbathing-desc1x.jpg);
        width: 436px
    }

}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .diving-img {
       content: url(/images/services/diving-desc2x.jpg);
       width: 712px;

    }
    .fishing-img {
        content: url(/images/services/fishing-desc2x.jpg);
        width: 440px;
    }
    .sunbathing-img { 
        content: url(/images/services/sunbathing-desc2x.jpg);
        width: 436px;
    }
  }



@media (min-width: 1280px) {
	.list-services {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 64px;
    }
}